@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
           
            <div class="carousel-caption" role="option">
                <p>
                   Service Fabric Demo - eCommerce 
                </p>
            </div>
        </div>
        <div class="item">
          
            <div class="carousel-caption" role="option">
                <p>
                    Services intercommunication using Reverse proxy
                </p>
            </div>
        </div>        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
   
    <div class="col-md-12">
        <h2>Welcome to Microservices using Service Fabric</h2>
        <ul>
            <li><a href="/home/index">Go to home page</a></li>
            <li><a href="/home/Product">Go to Product details  page</a></li>
            <li><a href="/home/Orders">Go to Orders  page</a></li>
                </ul>
    </div>
     
</div>
